.sidebar {
    box-shadow: rgb(113 122 131 / 11%) 0px 7px 50px 0px;
  }

  .slick-slide{
    margin: 1rem 0;
  }
  
  .nav-item,
  .navbar {
    z-index: 10000;
  }

  @media  screen and (max-width:800px) {
    .sidebar{
      z-index: 10000000;
    }
  }
  
  .e-dlg-center-center, .e-quick-popup-wrapper.e-device{
    z-index: 1000000 !important;
  }
  
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  